name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  flake-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@v12
        with:
          extra-conf: |
            experimental-features = nix-command flakes

      - uses: DeterminateSystems/magic-nix-cache-action@v7

      - uses: DeterminateSystems/flake-checker-action@v9

      - name: Nix flake check
        run: nix flake check --all-systems
